*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.kotlin/

xiaomi_notes_decompiled/
xiaomi_notes_extracted/
tmp/
docs/
*.md
*.tar
*.zpaq
*.zst
